<a href="https://colab.research.google.com/github/Servant7/data_minning/blob/main/2109116080_Ali_Khatami_Posttest_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (1) Apriori

Gunakan dataset ini : https://drive.google.com/file/d/1BqC-2d1ZYqFIFwdjdsW5bAAqNFh2AO4C/view?usp=share_link

Dan buatlah daftar support dan confidence untuk 2 item set dengan menggunakan dataset tersebut (hint : buatlah tabel tabulasi terlebih dahulu untuk memudahkan)

In [ ]:
#menginstall library pandas, numpy, dan apyori
!pip install pandas
!pip install numpy
!pip install apyori

In [ ]:
#mengimport pandas, numpy, dan apyori
import pandas as pd
import numpy as np
from apyori import apriori

In [ ]:
#memanggil/mengimoprt set data
df = pd.read_csv("item.csv")
df

In [ ]:
#melihat nama-nama kolom
df.columns

In [ ]:
#membuat kombinasi 2 data
from itertools import permutations
rules = list(permutations(df.columns, 2))
rules

In [ ]:
# Hanya filter yang ada isinya yang diihitung
rule_baru = []
for rule in rules:
  # Memfilter dengan nama kolom
  if len(df[(df[rule[0]]==1) & (df[rule[1]]==1)]) >0:
    rule_baru.append(rule)
rule_baru

In [ ]:
hitung = {} #mengganti dictionary
for rule in rule_baru:
  banyak_data= len(df[
      (df[rule[0]]==1) & (df[rule[1]]==1)
      ])
  hitung[str(rule)] = banyak_data

hitung

In [ ]:
#melihat panjang df
len(df)

In [ ]:
#menghitung supportnya
# support = [i/len(df)*100 for i in hitung.values()] artinya panjang df akan dikalikan 100%

#mengeluarkan output
print("---")
for item,ab in hitung.items():
  print(f"{item} support = {ab/len(df)*100}%")

In [ ]:
# List Confidens
# print([ab/df[kolom[0]].sum()*100 for ab,kolom in zip(hitung,rules)])

print("---")
for item,ab in hitung.items():
  #"A->B"
  i = eval(item) #Ubah ke list dari string
  print(f"{i[0]}->{i[1]}  Confidence = {ab/df[i[0]].sum()*100}%")

#(2) KNN

Gunakan dataset ini : https://drive.google.com/file/d/1pXAJZZXCXosf0PTJkyogopKaPFxCYl22/view?usp=share_link

Kemudian buatlah tabel jarak berdasarkan data berikut ini : 

![Gambar]()
<!-- 1412 -->

In [ ]:
#mengimport numpy, pandas, dan matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#memanggil dan melihat isi data
df1 = pd.read_csv("deteksi_uang_palsu.csv")
df1

In [ ]:
#melihat daftar kolom
print(df1.columns)

In [ ]:
#mengubah tipe data dari True dan False menjadi 0 dan 1 agar bisa kita lihat nilainya
df1['is_genuine'] = df1['is_genuine'].astype(int)
df1['is_genuine'] = df1['is_genuine'].replace({True: 1, False: 0})
df1

### **1. Tambahkan kolom jarak untuk menampilkan jarak dari dataset terhadap target prediksi**

In [ ]:
#lihat dulu data yang sudah kita import tadi
df1

In [ ]:
#memisahkan data tersebut dalam bentuk array menjadi 2 data, yaitu x dan y
x1 = df1.iloc[:,[1,2,3,4,5,6]].values
y1 = df1.iloc[:,0].values

In [ ]:
#memanggil x1
print(x1)

In [ ]:
#memanggil y1
print(y1)

In [ ]:
#membuat data baru
x_baru=np.array([172.25,103.94,103.68,4.14,3.25,112.48])
x_baru

In [ ]:
#menentukan nilai k
k = 3

## **2. Urutkan data berdasarkan K jarak terdekat (Untuk K nya ambil akar 2 dari banyak data)**

In [ ]:
#membuat fungsi jarak euclidean
def jarak_euclidean(x1,y1):
    return np.sqrt(sum(pow(a-b, 2) for a, b in zip(x1,y1)))

In [ ]:
#menentukan jumlah kemunculan data kemudian mengurutkannya
jarak=[]
for x_i in x1:
    jarak_euclid=jarak_euclidean(x_i, x_baru)
    jarak.append(jarak_euclid)
    print(jarak)
print(jarak)

In [ ]:
#mengurutkan data
urut=np.sort(jarak)
list_urut=[]
for i in range(len(urut)):
    list_urut.append(urut[i])
print(list_urut)

[0.6712674578735285, 0.8346256645946192, 0.9109335870413307, 1.113463066293622, 1.3125928538583398, 1.4583209523283898, 1.722033681435988, 1.7382174777627788, 1.741895519254815, 2.42128065287773]

In [ ]:
#melihat urutan berdasarkan letak data
urutan=[]
for i in list_urut:
    urtn=jarak.index(i)
    urutan.append(urtn)
print(urutan)

# **3. Tentukan apa hasil prediksinya berdasarkan label terbanyak**

In [ ]:
ambil=urutan[:k]
print(y1[ambil])

[1 1 1]

In [ ]:
#Karena hasilnya didominasi oleh 1, maka jawabannya adalah 1 alias TRUE

# (3) Analisis

> Nama : Ali Khatami

> Nim : 2109116080

Penjelasan posttest : 

Pilihlah salah satu tema dari daftar tema ini :  
1. Perbankan
2. Kesehatan
3. Ritel
4. Pendidkan

Kemudian lakukan analisis dengan menggunakan struktur CRISP-DM

Dimulai dari Business Understanding Hingga Data Preparation 
<img src="https://th.bing.com/th/id/R.f8efea41ae3cd96d86fbc5b10f81ad77?rik=K4Dr%2biIaVGvW8g&riu=http%3a%2f%2fwww.dataprix.com%2ffiles%2fCRISPDM%2fMetodologia_CRISP_DM1_html_52cdbecf.png&ehk=6ONLJMCVxE421Sjt2JJPE6MfCzrL7LLhDZQPdkJTLcw%3d&risl=&pid=ImgRaw&r=0"/>

Tentukan judul dengan ketentuan setiap orang di kelas beda-beda judulnya dan sumber datasetnya (contoh bisa prediksi atau aturan asosiasi)

Catatan : Tugas ini akan berhubungan dengan posttest terakhir (pertemuan 6)

# **Tema : Pendidikan**
Judul : On Time Graduation Classification<br>
Sumber : https://www.kaggle.com/datasets/oddyvirgantara/on-time-graduation-classification/code

# **Businnes Understanding**

1.   **Menentukan Tujuan**<br>
Business objective dari dataset "On-Time Graduation Classification" adalah untuk meningkatkan tingkat kelulusan tepat waktu mahasiswa dengan mengidentifikasi faktor-faktor yang mempengaruhi dan mengembangkan model prediksi yang akurat untuk memprediksi kelulusan tepat waktu mahasiswa. Dengan meningkatkan tingkat kelulusan tepat waktu, perguruan tinggi dapat meningkatkan kualitas lulusan dan daya saing di pasar tenaga kerja serta meningkatkan reputasi dan akreditasi institusi.<br><br>

2.   **Menentukan Tugas Analitik**<b>
Ukuran keberhasilan dari tugas analitiks tersebut bergantung pada tujuan bisnis yang ingin dicapai. Sebagai contoh, jika tujuannya adalah untuk meningkatkan tingkat kelulusan tepat waktu, maka ukuran keberhasilannya bisa diukur dengan akurasi model klasifikasi, yang mengindikasikan seberapa baik model tersebut dalam memprediksi kelulusan tepat waktu.<br><br>

3.   **Menentukan kebutuhan Data**<br>
data yang diperlukan meliputi data mahasiswa, seperti jenis kelamin, nilai IPK, program studi, dan sebagainya, serta status kelulusan (tepat waktu atau tidak). Data tersebut dapat diperoleh dari perguruan tinggi atau universitas yang menyimpan data mahasiswa dan hasil kelulusannya.

# **Data Understanding**

In [ ]:
#mengimport numpy, matplotlib, dan pandas
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [ ]:
#memanggil data dan melihat 5 data teratas
df2 = pd.read_csv('exams.csv')
df2.head()

,gender,race/ethnicity,parent_education_level,lunch,test_prep_course,math
0,female,group B,bachelor's degree,standard,none,72
1,female,group C,some college,standard,completed,69
2,female,group B,master's degree,standard,none,90
3,male,group A,associate's degree,free/reduced,none,47
4,male,group C,some college,standard,none,76

In [ ]:
#melihat nama-nama kolom
print(df2.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
df2.shape

(10000, 14)

# **Data Preparation**

In [ ]:
#memisahkan data utama dengan target
x2 = df2.iloc[:,[0,1,2,3]].values
y2 = df2.iloc[:, -2].values

In [ ]:
#melihat isi x2
print(x2)

In [ ]:
#melihat isi y2
print(y2)

In [ ]:
#membagi data menjadi training dan testing
from sklearn.model_selection import train_test_split
x2_train, x2_test, y2_train, y2_test = train_test_split(x2,y2,test_size = 0.25, random_state = 0)

In [ ]:
print(x2_train)

In [ ]:
#melihat panjang dari masing-masing data

In [ ]:
len(x2_train)

750

In [ ]:
len(x2)

1000

In [ ]:
len(x2_test)

In [ ]:
len(y2)

1000

In [ ]:
len(y2_test)

250

In [ ]:
len(y2_train)

750

In [ ]:
from sklearn.model_selection import train_test_split
x2_train, x2_test, y2_train, y2_test = train_test_split(x2,y2,test_size = 0.2, random_state=0)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoder = OneHotEncoder()
encoder = encoder.fit_transform(df2[['gender']])